.list-hover:hover {
    background: rgba(239, 240, 242, 0.5);
}
.code-keyword {
    color: rgb(144, 139, 255);
}
.code-require {
    color: rgb(49, 206, 168);
}
.code-string {
    color: rgb(136, 227, 205);
}
.code-number {
    color:rgb(241, 217, 119);
}
.code-literal {
    color:rgb(188, 186, 255);
}
.code-params {
    color: rgb(188, 186, 255);
}
.tab-1 {
    margin-left: 42px;
}
.tab-2 {
    margin-left: 84px;
}
.domain-link-dark {
    color: #65676e;
}
.domain-link-dark:hover {
    color: #1e212a;
}
.navtop-logo:focus {
    box-shadow: rgb(255 255 255 / 40%) 0px 0px 0px 0.25em;
}
.navtop-logo:hover {
    background: rgba(220,220,220,1)!important;
}
.navtop-hover:hover {
    background: rgba(60,60,60,1)!important;
    color: var(--bs-blue);
}

.app-logo{
    display: block;
    pointer-events: none;
    width: 512px;
    height: 512px;
    background: url('/src/assets/cyber-security.png')
}

.landing-page-logo{
    margin: 0.5cm 0cm 0cm 1cm;
}

.sidebar {
    width: 68px;
}

.text-color-primary {
    color: #1e212a !important;
}
.text-color-secondary {
    color: #635dff;
}

.bg-input-grey, .form-control.bg-input-grey {
    background-color: rgb(239, 240, 242);
}

@media (min-width: 1280px) {
    .sidebar {
        width: 265px;
    }
}

.login-page {
    text-align: center;
    /* background-color: whitesmoke; */
    margin: 0 auto;
    width: 35%;
}








/* SIDEBAR */
.nav-item .bi-caret-down-fill {
    color: #96989d;
}