.MuiDialog-paperFullWidth {
  width: calc(100% - 64px);
}

.MuiDialog-paperWidthMd {
  max-width: 800px;
}

.MuiDialog-paperScrollPaper {
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
}

.MuiDialog-paper {
  margin: 32px;
  position: relative;
  overflow-y: auto;
}

.MuiPaper-elevation4 {
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
}

.MuiPaper-rounded {
  border-radius: 4px;
}

.MuiPaper-root {
  color: #1e212a;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #ffffff;
}

.jss296 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.MuiDialogTitle-root {
  flex: 0 0 auto;
  margin: 0;
  padding: 40px 40px 24px 40px;
}

.MuiTypography-colorTextPrimary {
  color: #1e212a;
}

.MuiTypography-h5 {
  font-size: 1.25rem;
  font-family: Inter, fakt-web, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.0125em;
}

.MuiTypography-root {
  margin: 0;
}

.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}

element {}

.jss14:active,
.jss14.Mui-active {
  background-color: #96989d;
}

.jss14:hover,
.jss14.Mui-hover {
  background-color: #c9cace;
}

.jss11:focus,
.jss11.Mui-focusVisible {
  box-shadow: rgba(99, 93, 255, 0.25) 0px 0px 0px 0.25em;
}

.MuiIconButton-root:active,
.MuiIconButton-root.Mui-active {
  background-color: #e3e4e6;
}

.MuiIconButton-root:hover,
.MuiIconButton-root.Mui-hover {
  background-color: #eff0f2;
}

.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.jss297 {
  width: 1.5rem;
  height: 1.5rem;
  padding: 4px;
  border-radius: 50%;
}

.jss14 {
  color: #1e212a;
  background-color: #e3e4e6;
}

.MuiIconButton-sizeSmall {
  width: 1.875rem;
  height: 1.875rem;
  padding: 3px;
  font-size: 1rem;
}

.MuiIconButton-root {
  flex: 0 0 auto;
  color: #1e212a;
  width: 2.125rem;
  height: 2.125rem;
  padding: 0;
  overflow: visible;
  font-size: 1rem;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
}

.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.MuiIconButton-label>svg:first-child {
  width: 1em;
  height: 1em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.MuiButtonBase-root::-moz-focus-inner {
    border-style: none;
}
element {
}
.jss14:active, .jss14.Mui-active {
    background-color: #96989d;
}
.jss14:hover, .jss14.Mui-hover {
    background-color: #c9cace;
}
.jss11:focus, .jss11.Mui-focusVisible {
    box-shadow: rgba(99, 93, 255, 0.25) 0px 0px 0px 0.25em;
}
.MuiIconButton-root:active, .MuiIconButton-root.Mui-active {
    background-color: #e3e4e6;
}
.MuiIconButton-root:hover, .MuiIconButton-root.Mui-hover {
    background-color: #eff0f2;
}
.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.jss297 {
    width: 1.5rem;
    height: 1.5rem;
    padding: 4px;
    border-radius: 50%;
}
.jss14 {
    color: #1e212a;
    background-color: #e3e4e6;
}
.MuiIconButton-sizeSmall {
    width: 1.875rem;
    height: 1.875rem;
    padding: 3px;
    font-size: 1rem;
}
.MuiIconButton-root {
    flex: 0 0 auto;
    color: #1e212a;
    width: 2.125rem;
    height: 2.125rem;
    padding: 0;
    overflow: visible;
    font-size: 1rem;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -moz-user-select: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
body, input, textarea, button, select {
    font-size: 0.875rem;
    font-family: Inter, fakt-web, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.01071em;
}
button {
    font: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
}
*, ::before, ::after {
    box-sizing: inherit;
}

.jss299 {
  width: 100%;
}

.jss299 {
  display: grid;
  gap: 40px;
  grid-template-columns: minmax(0px, 1fr);
}


.jss300 {
  display: grid;
  grid-gap: 24px;
  align-items: flex-start;
  grid-template-columns: minmax(0, 1fr);
}


.MuiDialogContent-root {
  flex: 1 1 auto;
  padding: 4px 40px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.jss308 {
  display: grid;
  gap: 24px;
  grid-template-columns: minmax(0px, 1fr);
}

.MuiFormControl-fullWidth {
  width: 100%;
  max-width: 100%;
}

.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  max-width: 400px;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.MuiFormGroup-root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.MuiFormLabel-root {
  color: #1e212a;
  padding: 0;
  font-size: 0.875rem;
  font-family: Inter, fakt-web, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 8px;
  letter-spacing: 0.01071em;
}

.jss309 {
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  display: grid;
  gap: 8px;
}

.jss314 {
  padding: 24px;
}

.jss312 {
  cursor: pointer;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiCard-root {
  overflow: hidden;
}

.MuiPaper-outlined {
  border: 1px solid #e3e4e6;
  border-top-color: rgb(227, 228, 230);
  border-right-color: rgb(227, 228, 230);
  border-bottom-color: rgb(227, 228, 230);
  border-left-color: rgb(227, 228, 230);
}

.MuiPaper-rounded {
  border-radius: 4px;
}

.MuiPaper-root {
  color: #1e212a;
}

.jss317:hover {
  box-shadow: inset 0px 0px 0px 1px #635dff;
  border-color: #635dff;
}

.jss312:hover {
  background-color: rgba(99, 93, 255, 0.04);
}

.jss312:hover {
  background-color: rgba(99, 93, 255, 0.04);
}

.jss314 {
  padding: 24px;
}

.jss312 {
  cursor: pointer;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiCard-root {
  overflow: hidden;
}

.MuiPaper-outlined {
  border: 1px solid #e3e4e6;
}

.MuiPaper-rounded {
  border-radius: 4px;
}

.jss312:hover {
  background-color: rgba(99, 93, 255, 0.04);
}

.jss314 {
  padding: 24px;
}

.jss312 {
  cursor: pointer;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiCard-root {
  overflow: hidden;
}

.MuiPaper-outlined {
  border: 1px solid #e3e4e6;
}

.MuiPaper-rounded {
  border-radius: 4px;
}

.jss314 {
  padding: 24px;
}

.jss312 {
  cursor: pointer;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiCard-root {
  overflow: hidden;
}

.MuiPaper-outlined {
  border: 1px solid #e3e4e6;
}

.MuiPaper-rounded {
  border-radius: 4px;
}

.MuiPaper-root {
  color: #1e212a;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #ffffff;
}